body {
    font-family: Arial, sans-serif;
    background-color: rgb(230, 223, 223);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}


.left {
    background-color: #FF0000;
    width: 25vw;
    padding: 20px;
}

.icon img {
    max-width: 100%;
    height: auto;
}

.right {
    display: flex;
    flex-direction: column;
    width: 75vw;
    justify-content: space-between; 
    background-color: #F4F4F4;
    ;
    padding: 20px;
}

.number {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(197, 194, 194);
    margin-bottom: 10px;
}

.righ {
    flex-grow:1;
    display: flex;
    flex-direction: column-reverse; 
    height: 400px; 
    overflow-y: auto; 
    padding: 10px;
    border: #ccc;
    background-color: #f0f0f0;
}

.message {
    align-self: flex-end;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(43, 187, 187);
    max-width: 300px;
}

.timestamp {
    font-size: 0.8em;
    color: black;
    margin-top: 5px;
}

.write{
    align-items: center;
    background-color: rgb(196, 182, 182);
    font-weight: bolder;
    font-style:oblique;
}

.text {
    display: flex;
    border-top: 1px solid rgb(187, 186, 186);
    padding-top: 10px;
}
  
.mess {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid rgb(185, 182, 182);
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px 20px;
    margin-left: 10px;
    background-color: white;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: rgb(2, 2, 190);
}
